.bWrap{
    
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    
}

#messageBox .wrapper{
    
    background-color: #fff;
    padding: .4em;
    border-radius: 2em;
    margin-right: .4em;
    height: 1.6em;
    display: flex;
    float: left;
    box-shadow: 0em 0 2px 1px #d3d3d3;
    align-items: center;
    
}

.wrapper div{
    
    width: 1.2em;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    height: 1.2em;
    margin-right: .4em;
    
}

#messageBox p{
    
    margin: 0;
    display: inline-block;
    
}

.clear{

    color: #3a3a3a;
    margin-bottom: 1em;
    display: block;

}